@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=Roboto+Condensed:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primario: #EDEDED;
    --secundario: #DA0037;
    --comodin: #444444;
    --fuentetexto: 'Bree Serif', serif;
    --fuentetitulo: 'Roboto Condensed';

}

/* background  */
.white-theme {
    background-color: var(--primario);
    color: #444444;

}

.dark-theme {
    background-color: var(--comodin);
    color: #EDEDED;

}

/* Enlaces  */

.white-theme a {
    color: #444444;
}

.dark-theme a {
    color: #EDEDED;
}


.containerAside__enlaces a {
    margin: 0;
    text-decoration: none;
}


h3,
h4,
h5 {
    font-family: var(--fuentetitulo)
}

p {
    font-family: var(--fuentetexto)
}

.container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;
    height: 90vh;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.item1 {
    margin-right: 15px;
    background-color: var(--secundario);
    height: 65px;
    width: 65px;
    animation: prueba 1.5s ease;
    animation-iteration-count: infinite;
}

@keyframes prueba {
    from {
        transform: scale(100%);
    }

    to {
        transform: scale(0%)
    }
}


h1 {
    font-family: var(--fuentetitulo);
    text-transform: uppercase;
    font-size: 80px;
    font-weight: 600;
    margin: 0;
}

.box33 {

    display: flex;
    flex-direction: column;

}

.info {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    align-items: flex-end;
    font-family: var(--fuentetitulo);
    font-weight: 600;
    text-transform: uppercase;
}


.box2 {
    display: flex;
    width: 252.74px;
    flex-direction: row;
    justify-content: flex-end;
    line-height: 0%;
}


p {
    margin-top: 0;
    font-size: medium;
    text-align: end;
}

.containerAside {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.containerAside__enlaces {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 40px;
}



.containerAside__enlaces a {

    font-size: 20px;
    text-transform: uppercase;
    line-height: 40px;
    margin-left: 20px;
    font-family: var(--fuentetexto);
}


.containerAside__enlaces a:hover {
    background-color: #D72323;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


.itemLine {

    background-color: var(--secundario);
    width: 5px;
    height: 100px;
}

li {

    list-style: none;

}

.itemInfo {
    display: flex;
    flex-direction: column;
}

@media (max-width:576px) {

    .container {
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    .box {
        display: flex;
        flex-direction: column;

    }

    .item1 {
        height: 45px;
        width: 45px;
    }



    h1 {

        font-size: 40px;
    }

    .info {
        font-size: 18px;
    }

    .containerAside {
        margin-top: 50px;
    }

}

@media (min-width:577px) and (max-width:768px) {

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        height: 100vh;
    }

    h1 {

        font-size: 30px;
    }

    .info {
        font-size: 16px;
    }


    .item1 {
        height: 30px;
        width: 30px;
    }

}

@media (min-width:769px) and (max-width:992px) {

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 50px;
        height: 100vh;
    }

    h1 {

        font-size: 40px;
    }

    .info {
        font-size: 18px;
    }


    .item1 {
        height: 45px;
        width: 45px;
    }

    .containerAside {

        justify-content: center;
        align-items: center;

    }

}



/* --------------------------------------------------------------------Main Nav------------------------------------------------ */

.bg-nav {
    margin-top: 2rem;
    background-color: var(--primario);
    margin-bottom: 2rem;
    margin-left: 1rem;

}



.navbar-link {
    font-family: var(--fuentetexto);
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 500
}

.navbar-link:hover {
    color: var(--secundario);
}

@media (max-width:576px) {

    .navbar-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: var(--fuentetexto);
        font-size: 1.3rem;
        text-transform: uppercase;
        font-weight: 500
    }
}



/* --------------------------------------------------------------------about------------------------------------------------ */

/* about Movilfirst*/

.containerAbout {

    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    column-gap: 5rem;
}


.aboutMe h1 {
    text-transform: uppercase;
    margin-bottom: 60px;
    margin-top: 20px;
    text-align: center;
    font-family: var(--fuentetexto);
    font-size: 40px;
}

.about__info__names h3 {
    margin-top: 2rem;
    font-size: 70px;
    text-transform: uppercase;
    font-family: var(--fuentetexto);
    color: #D72323;
    line-height: 1;
    text-align: left;
}

.about__profile {
    width: 20rem;
    height: 20rem;
    border-radius: 100%;
    background-image: url(/Fotografía/Proyect_img/profile.jpg);
    background-size: cover;
    border-style: solid;
    border-width: 3px;
    border-color: var(--primario);
}


.about__info p {
    margin-top: 20px;
    text-align: start;
    font-size: 16px;
}

.containerSkills {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

/* .containerSkills h2 {
    font-family: var(--fuentetexto);
    color: var(--comodin);
    margin-top: 50px;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 40px;
}

.skills {
    margin-bottom: 30px;

}

.skills h3 {
    text-align: center;
    margin-bottom: 15px;
    color: var(--text);
}

.bar {
    width: 350px;
    height: 20px;
    border-radius: 10px;
    background-color: var(--comodin2);
}

.progress {
    width: var(--w);
    height: 100%;
    background: var(--secundario);
    border-radius: 10px;
    animation: animate 5s ease;
} */

@keyframes animate {

    0% {
        width: 0%
    }

    100% {
        width: var(--w);
    }
}

/* .languages {
    display: flex;
    flex-direction: column;
    column-gap: 4rem;
} */


/* Tablet */

@media (min-width:768px) and (max-width:1024px) {

    .containerAbout {
        display: flex;
        width: 90%;
        flex-direction: column;
        align-items: center;
    }


    .about__profile {
        margin-top: 5rem;
        width: 24rem;
        height: 24rem;
    }

    .about__info {
        width: 60%;
    }

    .about__info__names h3 {
        font-size: 90px;
        text-transform: uppercase;
        font-family: var(--fuentetexto);
        color: #D72323;
        line-height: 1.2;
    }

    .about__info p {
        margin-top: 20px;
        text-align: start;
        font-size: 16px;
    }

    .containerSkills {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .languages {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}


@media(min-width: 1025px) {

    .containerAbout {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
    }

    .about__profile {
        margin-top: 10rem;
        width: 28rem;
        height: 28rem;
    }

    .aboutMe h1 {

        text-transform: uppercase;
        margin-bottom: 80px;
        margin-top: 20px;
        text-align: center;
        font-family: var(--fuentetexto);
        font-size: 70px;

    }

    .about__info {
        margin-top: 8rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }

    .about__info__names h2 {
        margin-top: 8rem;

        font-size: 250px;
        text-transform: uppercase;
        font-family: var(--fuentetexto);
        color: #D72323;
        line-height: 1;
        text-align: start;
    }


    .about__info__names h3 {
        font-size: 100px;
        text-transform: uppercase;
        font-family: var(--fuentetexto);
        color: #D72323;
    }


    .about__info__info p {
        font-size: 18px;
        text-align: start;
    }

    .languages {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}


/* --------------------------------------------------------------------Gallery------------------------------------------------ */

.tittleGallery {
    display: flex;
    flex-direction: column;
}

.tittleGallery_tittle h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    font-family: var(--fuentetexto);
    margin-top: 40px;
    margin-bottom: 40px;

}

.tittleGallery_tittle {
    margin-bottom: 2rem;
    border-radius: 10px;
    width: 100%;
}

.containerGallery {
    display: flex;
    flex-direction: column;
}

@media(min-width:768px) and (max-width:1024px) {


    .tittleGallery_tittle h1 {
        text-transform: uppercase;
        text-align: center;

    }


    .containerGallery {
        display: grid;
        grid-template-areas:

            "pic1 pic1 pic2 pic2 pic3"
            "pic1 pic1 pic4 pic5 pic6"
            "pic7 pic7 pic8 pic9 pic9"
            "pic10 pic10 pic10 pic9 pic9"
            "pic11 pic11 pic12 pic9 pic9"
            "pic13 pic13 pic13 pic14 pic14";

        column-gap: 1rem;
        row-gap: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .photoGallery-1 {
        grid-area: pic1;
    }

    .photoGallery-2 {
        grid-area: pic2;
    }

    .photoGallery-3 {
        grid-area: pic3;
    }

    .photoGallery-4 {
        grid-area: pic4;
    }

    .photoGallery-5 {
        grid-area: pic5;
    }

    .photoGallery-6 {
        grid-area: pic6;
    }

    .photoGallery-7 {
        grid-area: pic7;
    }

    .photoGallery-8 {
        grid-area: pic8;
    }

    .photoGallery-9 {
        grid-area: pic9;
    }

    .photoGallery-10 {
        grid-area: pic10;
    }

    .photoGallery-11 {
        grid-area: pic11;
    }

    .photoGallery-12 {
        grid-area: pic12;
    }

    .photoGallery-13 {
        grid-area: pic13;
    }

    .photoGallery-14 {
        grid-area: pic14;
    }

}


@media(min-width:1025px) {



    .tittleGallery_tittle h1 {
        text-transform: uppercase;
        text-align: center;
        font-size: 70px;
        font-family: var(--fuentetexto);

    }


    .containerGallery {
        display: grid;
        grid-template-areas:

            "pic1 pic1 pic2 pic2 pic3"
            "pic1 pic1 pic4 pic5 pic6"
            "pic7 pic7 pic8 pic9 pic9"
            "pic10 pic10 pic10 pic9 pic9"
            "pic11 pic11 pic12 pic9 pic9"
            "pic13 pic13 pic13 pic14 pic14";

        column-gap: 1rem;
        row-gap: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .photoGallery-1 {
        grid-area: pic1;
    }

    .photoGallery-2 {
        grid-area: pic2;
    }

    .photoGallery-3 {
        grid-area: pic3;
    }

    .photoGallery-4 {
        grid-area: pic4;
    }

    .photoGallery-5 {
        grid-area: pic5;
    }

    .photoGallery-6 {
        grid-area: pic6;
    }

    .photoGallery-7 {
        grid-area: pic7;
    }

    .photoGallery-8 {
        grid-area: pic8;
    }

    .photoGallery-9 {
        grid-area: pic9;
    }

    .photoGallery-10 {
        grid-area: pic10;
    }

    .photoGallery-11 {
        grid-area: pic11;
    }

    .photoGallery-12 {
        grid-area: pic12;
    }

    .photoGallery-13 {
        grid-area: pic13;
    }

    .photoGallery-14 {
        grid-area: pic14;
    }

}


/* --------------------------------------------------------------------Footer------------------------------------------------ */





.containerFooter a {
    font-family: var(--fuentetexto);
    text-transform: uppercase;
    margin-left: 20px;
}


.linkfooter {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.linkfooter a:hover {

    color: var(--secundario)
}


img {
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
    height: 100%;
}



.containerIcons {
    grid-template-columns: 2/3;
    grid-row: 1/2;
    margin-left: 2rem;

}

.spanIcon {

    font-size: 50px;
}

.spanIcon:hover {

    color: var(--secundario)
}


@media (max-width:576px) {

    .containerFooter {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .linkfooter {
        display: none;

    }

    .containerIcons {
        display: flex;
        flex-direction: row;
        justify-content: start;
    }

    .iconModifier {

        margin-left: 1rem;
    }

}

@media (min-width:577px) and (max-width:768px) {

    .linkfooter {
        display: none;
    }


}


/* --------------------------------------------------------------------Projects------------------------------------------------ */

/* movilfirst projects */

/* brands1 */

.webContainer {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.webContainer__title {
    grid-area: title;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 2rem;
    background-color: var(--comodin);
}

.webContainer__title h2 {
    font-size: 5rem;
    text-align: center;
    color: #EDEDED;
    text-transform: uppercase;
    font-family: var(--fuentetitulo);
    margin: 0%;

}

/* parrafos y titulos movil  */

.webContainer__description3 h3,
.webContainer__description h3,
.webContainer__description2 h3 {
    text-align: left;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: var(--fuentetexto);
    margin-left: 0.5rem;
}

.webContainer__description3 p,
.webContainer__description2 p,
.webContainer__description p {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: .9rem;
}


/* Imagenes movil  */


.webContainer__photo1 {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-image: url(/Fotografía/Proyect_img/logo2Movile-01.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #444444;
    border-style: solid;
    border-width: 3px;
    border-color: white;
}

.webContainer__photo22 {

    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-image: url(/Fotografía/Proyect_img/logoMovilO-01.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



.webContainer__photo33 {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-image: url(/Fotografía/Proyect_img/Logo-reproductormusica_Mesa\ de\ trabajo\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* barrilete */


.containerbrandsx {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.containerBrandsx__titulo {
    background-color: var(--comodin);
    border-radius: 10px;

}

.containerBrandsx__titulo h2 {
    text-align: center;
    color: var(--primario);
    text-transform: uppercase;
    font-family: var(--fuentetitulo);
    font-size: 4rem;
    margin: 0%;
}

.containerBrandsUno {
    display: flex;
    flex-direction: column;
}

/* Palmeras container */

.containerBrandsp {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.containerBrandsUno__description h3,
.containerBrandsp__description h3 {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-family: var(--fuentetexto);
    margin-left: .5rem;
}

.containerBrandsUno__description p,
.containerBrandsp__description p {
    font-size: 1rem;
    margin-bottom: 3rem;
    font-family: var(--fuentetexto);
    text-align: left;
    margin-left: .5rem;
    margin-right: .5rem
}

.containerBrandsUno__aplicativos img:hover {

    transform: scale(1.1)
}

.containerBrandsUno__aplicativos2 img:hover {

    transform: scale(1.1)
}

.containerBrandsUno__aplicativos3 img:hover {

    transform: scale(1.1)
}

.containerBrandsp__aplicativos img:hover {

    transform: scale(1.1)
}

.containerBrandsp__aplicativos2 img:hover {
    transform: scale(1.1)
}

.containerBrandsp__aplicativos3 img:hover {
    transform: scale(1.1)
}

@media(min-width:768px) and (max-width:1024px) {


    .webContainer {
        display: grid;
        grid-template-areas: "title   . "
            " work  description"
            " description2  work2 "
            " work3  description3";
        column-gap: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .webContainer__title {
        grid-area: title;
        justify-content: center;
        align-items: center;
        /* background-color: var(--comodin); */
        border-radius: 10px;
        margin-bottom: 2rem;

    }

    .webContainer__photo {
        grid-area: work;
        margin: 0 auto;
    }

    .webContainer__photo2 {
        grid-area: work2;
        margin: 0 auto;
    }

    .webContainer__photo33 {
        height: 230px;
        width: 230px;

    }

    .webContainer__photo3 {
        grid-area: work3;
        margin: 0 auto;
    }

    .webContainer__description {
        grid-area: description;
    }

    .webContainer__description2 {
        grid-area: description2;

    }

    .webContainer__description3 {
        grid-area: description3;
    }

    .webContainer__title h2 {
        font-size: 8rem;
    }

    .webContainer__description3,
    .webContainer__description2,
    .webContainer__photo2 {
        margin-top: 2rem;

    }

    .webContainer__description2 h3,
    .webContainer__description h3,
    .webContainer__description2 h3 {
        font-size: 2rem;
        margin-bottom: 1rem;
        text-transform: uppercase;

    }

    .webContainer__description3 p,
    .webContainer__description2 p,
    .webContainer__description p {

        font-size: 1.2rem;
        margin-bottom: .5rem;
        text-align: left;

    }

    /* Titulo branding */

    .containerbrandsx {
        display: grid;
        grid-template-areas: ".  titulo";
        border-radius: 10px;

    }

    .containerBrandsx__titulo {
        grid-area: titulo;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        margin: 1rem;
        column-gap: 1rem;
    }

    .containerBrandsx__titulo h2 {
        font-size: 8rem;
        text-align: center;
        text-transform: uppercase;
    }


    /* Marcas  */

    .containerBrandsUno {
        display: grid;
        grid-template-areas:
            "appdes appdes appdes"
            "logo logo logo"
            "app1 app2 app3";
        column-gap: 1rem;
        row-gap: 1rem;
        margin: 1rem;
    }

    .containerBrandsp__logotipo {
        grid-area: logo;
    }

    .containerBrandsUno__description {
        grid-area: appdes;
    }

    .containerBrandsUno__aplicativos {
        grid-area: app1;
    }

    .containerBrandsUno__aplicativos2 {
        grid-area: app2;
    }

    .containerBrandsUno__aplicativos3 {
        grid-area: app3;
    }

    .containerBrandsUno__description h3 {
        font-size: 2rem;
        margin-bottom: 3rem;
        text-transform: uppercase;
        font-family: var(--fuentetexto);
    }

    .containerBrandsUno__description p {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        font-family: var(--fuentetexto);
        text-align: left;

    }

    /* Marcas2 */

    .containerBrandsp {
        display: grid;
        grid-template-areas:
            "pald pald pald"
            "pal pal pal"
            "pal1 pal3 pal2";
        column-gap: 1rem;
        row-gap: 1rem;
        margin: 1rem;
    }

    .containerBrandsp__logotipo {
        grid-area: pal;
        margin-right: 2rem;
    }

    .containerBrandsp__description {
        grid-area: pald;
        margin-right: 2rem;


    }

    .containerBrandsp__aplicativos {
        grid-area: pal1;

    }

    .containerBrandsp__aplicativos2 {
        grid-area: pal2;
        margin-right: 2rem;

    }

    .containerBrandsp__aplicativos3 {
        grid-area: pal3;

    }

    .containerBrandsp__description h3 {
        font-size: 2rem;
        margin-bottom: 3rem;
        text-transform: uppercase;
        font-family: var(--fuentetexto);
    }

    .containerBrandsp__description p {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        font-family: var(--fuentetexto);
        text-align: left;
    }

}

@media(min-width:1025px) {

    .webContainer {
        display: grid;
        grid-template-areas: "title work description"
            "title work description"
            "title description2 work2"
            "title description2 work2"
            "title work3 description3"
            "title work3 description3";

        column-gap: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 5rem;
    }

    .webContainer__title {
        grid-area: title;
        display: grid;
        background-color: var(--comodin);
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        height: 97.5%;
    }


    .webContainer__photo33 {
        height: 400px;
        width: 400px;

    }

    .webContainer__title h2 {
        writing-mode: vertical-rl;
        /*----------------- Aprender bien writing-mode NOVEDAD!!!!!!!!--*/
        font-size: 10rem;
    }

    .webContainer__photo {
        grid-area: work;
        margin: 0 auto;


    }

    .webContainer__photo1 {
        width: 300px;
        height: 300px;

    }


    .webContainer__description {
        grid-area: description;

    }

    .webContainer__description3 h3,
    .webContainer__description h3,
    .webContainer__description2 h3 {
        font-size: 2.5rem;
        margin-bottom: 3rem;
        text-transform: uppercase;
        font-family: var(--fuentetexto);
    }

    .webContainer__photo2 {
        grid-area: work2;
        margin: 0 auto;

    }

    .webContainer__photo3 {
        grid-area: work3;
        margin: 0 auto;

    }

    .webContainer__photo22 {
        width: 300px;
        height: 300px;
    }

    .webContainer__description2 {
        grid-area: description2;

    }

    .webContainer__description3 {
        grid-area: description3;

    }

    .webContainer__description2,
    .webContainer__photo2 {
        margin-top: 2rem;

    }

    .webContainer__description3 p,
    .webContainer__description2 p,
    .webContainer__description p {

        font-size: 1.6rem;
        margin-bottom: 3rem;
        font-family: var(--fuentetexto);
        text-align: left;

    }


    .webContainer__title h2 {
        writing-mode: vertical-rl;
        font-size: 10rem;
        text-align: center;
        text-transform: uppercase;
        font-family: var(--fuentetitulo);
    }

    .containerbrandsx {
        display: grid;
        grid-template-areas: ".  titulo titulo";
        border-radius: 10px;
        margin: 2rem;
        margin-bottom: 8rem;
    }

    .containerBrandsx__titulo {
        grid-area: titulo;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        margin-right: 4rem;
    }

    .containerBrandsUno {
        display: grid;
        grid-template-areas:
            "logo logo logo appdes"
            "app1 app2 app3 appdes";
        column-gap: 1rem;
        row-gap: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .containerBrandsx__titulo h2 {
        font-size: 10rem;
        text-align: center;
        text-transform: uppercase;
        font-family: var(--fuentetitulo);
    }


    .containerBrandsUno__logotipo {

        grid-area: logo;

    }

    .containerBrandsUno__description {
        grid-area: appdes;
    }

    .containerBrandsUno__description h3,
    .containerBrandsp__description h3 {
        font-size: 2.5rem;
        margin-bottom: 3rem;
        text-transform: uppercase;
        font-family: var(--fuentetexto);
    }

    .containerBrandsUno__description p,
    .containerBrandsp__description p {
        font-size: 1.6rem;
        margin-bottom: 3rem;
        font-family: var(--fuentetexto);
        text-align: left;

    }

    .containerBrandsUno__aplicativos {
        grid-area: app1;
    }

    .containerBrandsUno__aplicativos2 {

        grid-area: app2;

    }

    .containerBrandsUno__aplicativos3 {
        grid-area: app3;
    }

    .containerBrandsp {
        display: grid;
        grid-template-areas:
            "appdesp logop logop logop"
            "appdesp app2p app3p app1p";
        column-gap: 1rem;
        row-gap: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 2rem;
    }

    .containerBrandsp__logotipo {

        grid-area: logop;
        margin-right: 4rem;


    }

    .containerBrandsp__description {
        grid-area: appdesp;
    }

    .containerBrandsp__aplicativos {
        grid-area: app1p;
        margin-right: 4rem;

    }

    .containerBrandsp__aplicativos2 {

        grid-area: app2p;


    }

    .containerBrandsp__aplicativos3 {

        grid-area: app3p;
    }

}


/* --------------------------------------------------------------------Contact------------------------------------------------ */

.form {

    margin: 2rem auto;

}

.formBack {
    background-color: white;
    height: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 10px;
    padding-bottom: 1rem;
    border: solid 3px var(--comodin);
    box-shadow: 2px 2px 2px var(--comodin);


}

.contactTittle {
    font-size: 2rem;
    margin: 1.8rem auto;
    text-align: center;
    font-family: var(--fuentetexto);
}

.label {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    color: rgba(0, 0, 0, 0.772);
}

.label input {
    border-radius: 5px;
    padding: 0.1rem;
}

.buttonsForm {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.buttonStyle {
    padding: 0.3rem;
    border-radius: 5px;
    background-color: var(--comodin);
    color: var(--primario);
    text-transform: uppercase;
    width: 90%;

}


@media(min-width:576px) and (max-width:768px) {

    .form {

        margin: 6rem auto;

    }

    .formBack {
        background-color: white;
        height: 100%;
        margin-left: 2rem;
        margin-right: 2rem;
        border-radius: 10px;
        padding-bottom: 1rem;
        ;
    }
}


@media(min-width:769px) {

    .form {

        margin: 3rem auto;

    }


    .buttonStyle {
        width: 25%;
    }


    .formBack {
        margin: 0 auto;
        padding: 1.5rem;
        box-shadow: 5px 5px 5px var(--comodin);
        width: 60%;
    }

    .contactTittle {
        font-size: 4rem;
        margin: 3rem auto;
        text-align: center;
        font-family: var(--fuentetexto);
    }


}


.brandMain {
    margin: 0 5rem;
    height: 75vh;

}


/* -------Servicios */
/* movil first */



.containerServices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 90%;
}

.titleServices h1 {
    text-align: center;
    font-family: var(--fuentetexto);
    text-transform: uppercase;
    font-size: 2rem;
}

.titleServices p {
    text-align: center;
    font-family: var(--fuentetexto);
    text-transform: uppercase;
    font-size: 1rem;
    margin-top: 0.9rem;
}

.card-title {
    font-weight: bolder;
}



.card-title h5 {
    margin-bottom: 12rem;
}



@media(min-width:1025px) {

    .titleServices p {

        margin-bottom: 5rem;
    }


    .containerServices {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }


    .card {
        margin-bottom: 6rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 30rem;
        width: 22rem;
    }

    .card-title {

        margin-bottom: 3rem;

    }

    .btnCard {
        margin-top: 4.5rem;

    }

    .btnCard2 {
        margin-top: 2.5rem;
    }

    .btnCard3 {
        margin-top: .5rem;
    }

    .titleServices h1 {
        text-align: center;
        font-family: var(--fuentetexto);
        text-transform: uppercase;
        font-size: 4rem;

    }
}